#ifndef AE_SYS_SVN_REVISION_H
#define AE_SYS_SVN_REVISION_H

#define AE_REVISION_NUMBER "$WCREV$"
#define AE_REVISION_DATE "$WCDATE$"
#define AE_REPOSITORY_URL "$WCURL$"

#endif // AE_SYS_SVN_REVISION_H
